#IMPORT LIBRARIES

In [ ]:
import requests
import pandas as pd
import numpy as np
from sklearn import decomposition
import matplotlib.pyplot as plt
import os

#DATA COLLECTION

In [ ]:
DATASET_URI = "https://raw.githubusercontent.com/KLGLUG/student-career-area-prediction-using-machine-learning/master/Project%20Code/roo_data.csv"

open("./dataset.csv", "wb").write(requests.get(DATASET_URI).content)
print("Dataset downloaded.")

Dataset downloaded.

#DATA PREPROCESSING

In [ ]:
dataset = pd.read_csv("./dataset.csv")
dataset.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert,Suggested Job Role
0,69,63,78,87,94,94,87,84,61,9,...,Prayer books,salary,no,stubborn,Management,salary,hard worker,yes,no,Database Developer
1,78,62,73,60,71,70,73,84,91,12,...,Childrens,salary,yes,gentle,Technical,salary,hard worker,no,yes,Portal Administrator
2,71,86,91,87,61,81,72,72,94,11,...,Travel,Work,no,stubborn,Management,work,hard worker,no,yes,Portal Administrator
3,76,87,60,84,89,73,62,88,69,7,...,Romance,Work,yes,gentle,Management,work,smart worker,yes,yes,Systems Security Administrator
4,92,62,90,67,71,89,73,71,73,4,...,Cookbooks,salary,no,stubborn,Management,work,hard worker,yes,yes,Business Systems Analyst

In [ ]:
len(dataset)

20000

In [ ]:
data = dataset.iloc[:,:-1].values
label = dataset.iloc[:,-1].values
len(data[0]) # 38 columns

38

In [ ]:
len(label)

20000

### One Hot Encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [ ]:
labelencoder = LabelEncoder()

In [ ]:
for i in range(14,38):
  data[:,i] = labelencoder.fit_transform(data[:,i])

data[:5]

array([[69, 63, 78, 87, 94, 94, 87, 84, 61, 9, 4, 0, 4, 8, 1, 1, 1, 8, 0,
        0, 1, 0, 0, 4, 4, 0, 8, 0, 0, 21, 1, 0, 1, 0, 0, 0, 1, 0],
       [78, 62, 73, 60, 71, 70, 73, 84, 91, 12, 7, 1, 2, 3, 1, 0, 1, 5,
        2, 0, 0, 2, 1, 7, 0, 1, 4, 1, 1, 5, 1, 1, 0, 1, 0, 0, 0, 1],
       [71, 86, 91, 87, 61, 81, 72, 72, 94, 11, 1, 4, 1, 3, 1, 0, 1, 0,
        7, 0, 1, 2, 0, 6, 2, 0, 5, 1, 1, 29, 0, 0, 1, 0, 1, 0, 0, 1],
       [76, 87, 60, 84, 89, 73, 62, 88, 69, 7, 1, 1, 2, 5, 0, 1, 0, 6, 1,
        1, 0, 1, 0, 7, 5, 0, 7, 0, 0, 23, 0, 1, 0, 0, 1, 1, 1, 1],
       [92, 62, 90, 67, 71, 89, 73, 71, 73, 4, 5, 4, 6, 3, 0, 0, 0, 0, 0,
        0, 0, 2, 0, 0, 5, 0, 9, 0, 1, 7, 1, 0, 1, 0, 1, 0, 1, 1]],
      dtype=object)

In [ ]:
from sklearn.preprocessing import Normalizer

In [ ]:
data1 = data[:,:14]

In [ ]:
normalized_data = Normalizer().fit_transform(data1)
normalized_data.shape

(20000, 14)

In [ ]:
data2 = data[:, 14:]
data2.shape

(20000, 24)

In [ ]:
df1 = np.append(normalized_data, data2, axis=1)
df1.shape

(20000, 38)

## Adding readable headers

In [ ]:
headers = ['Acedamic percentage in Operating Systems', 'percentage in Algorithms',
       'Percentage in Programming Concepts',
       'Percentage in Software Engineering', 'Percentage in Computer Networks',
       'Percentage in Electronics Subjects',
       'Percentage in Computer Architecture', 'Percentage in Mathematics',
       'Percentage in Communication skills', 'Hours working per day',
       'Logical quotient rating', 'hackathons', 'coding skills rating',
       'public speaking points', 'can work long time before system?',
       'self-learning capability?', 'Extra-courses did', 'certifications',
       'workshops', 'talenttests taken?', 'olympiads',
       'reading and writing skills', 'memory capability score',
       'Interested subjects', 'interested career area ', 'Job/Higher Studies?',
       'Type of company want to settle in?',
       'Taken inputs from seniors or elders', 'interested in games',
       'Interested Type of Books', 'Salary Range Expected',
       'In a Realtionship?', 'Gentle or Tuff behaviour?',
       'Management or Technical', 'Salary/work', 'hard/smart worker',
       'worked in teams ever?', 'Introvert']

In [ ]:
x1 = pd.DataFrame(df1, columns=headers)

In [ ]:
x1.head()

,Acedamic percentage in Operating Systems,percentage in Algorithms,Percentage in Programming Concepts,Percentage in Software Engineering,Percentage in Computer Networks,Percentage in Electronics Subjects,Percentage in Computer Architecture,Percentage in Mathematics,Percentage in Communication skills,Hours working per day,...,interested in games,Interested Type of Books,Salary Range Expected,In a Realtionship?,Gentle or Tuff behaviour?,Management or Technical,Salary/work,hard/smart worker,worked in teams ever?,Introvert
0,0.28509,0.260299,0.322276,0.359461,0.388383,0.388383,0.359461,0.347066,0.252036,0.037186,...,0,21,1,0,1,0,0,0,1,0
1,0.34998,0.278189,0.327545,0.269215,0.318571,0.314085,0.327545,0.376901,0.40831,0.053843,...,1,5,1,1,0,1,0,0,0,1
2,0.295012,0.357339,0.378115,0.361494,0.253461,0.336563,0.299168,0.299168,0.39058,0.045706,...,1,29,0,0,1,0,1,0,0,1
3,0.328025,0.375503,0.258967,0.362554,0.384135,0.315077,0.2676,0.379819,0.297812,0.030213,...,0,23,0,1,0,0,1,1,1,1
4,0.397157,0.267649,0.388523,0.289234,0.306502,0.384206,0.315136,0.306502,0.315136,0.017268,...,1,7,1,0,1,0,1,0,1,1

In [ ]:
label = labelencoder.fit_transform(label)
len(label)

20000

In [ ]:
label = dataset.iloc[:,-1].values

In [ ]:
y = pd.DataFrame(label, columns=["Suggested Job Role"])
y

                              Suggested Job Role
0                             Database Developer
1                           Portal Administrator
2                           Portal Administrator
3                 Systems Security Administrator
4                       Business Systems Analyst
...                                          ...
19995                         Technical Engineer
19996                         E-Commerce Analyst
19997              Business Intelligence Analyst
19998  Software Quality Assurance (QA) / Testing
19999                     Applications Developer

[20000 rows x 1 columns]

# 1. DECISION TREE CLASSIFIER

In [ ]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import accuracy_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.3, random_state=10)

In [ ]:
len(x_train)

14000

In [ ]:
len(x_test)

6000

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
classifier = tree.DecisionTreeClassifier()
classifier = classifier.fit(x_train, y_train)

In [ ]:
y_pred = classifier.predict(x_test)

In [ ]:
y_pred

array(['Database Administrator', 'Systems Security Administrator',
       'Technical Services/Help Desk/Tech Support', ...,
       'Software Systems Engineer', 'Database Developer',
       'E-Commerce Analyst'], dtype=object)

In [ ]:
cm = confusion_matrix(y_test, y_pred)
accuracy = accuracy_score(y_test, y_pred)

In [ ]:
print("confusion matrix=", cm)
print()
print("accuracy=", accuracy*100)

confusion matrix= [[5 6 8 ... 5 5 1]
 [4 4 6 ... 3 5 4]
 [6 3 7 ... 7 3 5]
 ...
 [2 3 7 ... 8 5 4]
 [6 4 8 ... 5 2 4]
 [3 5 2 ... 0 3 9]]

accuracy= 3.2

# 1. 1. Decision Tree with entropy

In [ ]:
entropy_classifier = tree.DecisionTreeClassifier(criterion = "entropy", random_state = 10)
entropy_classifier.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=10)

In [ ]:
ent_y_pred = entropy_classifier.predict(x_test)

In [ ]:
cm_entropy = confusion_matrix(y_test, ent_y_pred)

In [ ]:
ent_acc = accuracy_score(y_test, ent_y_pred)

In [ ]:
print("confusion matrix=", cm_entropy)
print()
print("accuracy=",ent_acc*100)

confusion matrix= [[ 3  3  7 ...  6  7  5]
 [ 4  4  4 ...  2  8  5]
 [10  3  2 ...  9  6  2]
 ...
 [ 3  3 10 ...  7  2 10]
 [ 9  5  7 ...  7  7  2]
 [ 5  6  7 ...  2  2  4]]

accuracy= 3.1

# 2. SVM classifier

In [ ]:
from sklearn import svm

In [ ]:
svm_clf = svm.SVC()
svm_clf.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
svm_y_pred = svm_clf.predict(x_test)

In [ ]:
cm_svm = confusion_matrix(y_test, svm_y_pred)
svm_acc = accuracy_score(y_test, svm_y_pred)

In [ ]:
print("confusion matrics=",cm_svm)
print("  ")
print("accuracy=",svm_acc*100)

confusion matrics= [[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

accuracy= 5.75

# 3. XGBOOST

In [ ]:
from xgboost import XGBClassifier

In [ ]:
xg_xtrain = pd.to_numeric(x_train.values.flatten())

In [ ]:
xg_xtrain = xg_xtrain.reshape((14000,38))

In [ ]:
model = XGBClassifier()
model.fit(xg_xtrain, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/preprocessing/_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(objective='multi:softprob')

In [ ]:
x_test.shape

(6000, 38)

In [ ]:
xg_xtest = pd.to_numeric(x_test.values.flatten())

In [ ]:
xg_xtest = xg_xtest.reshape((6000,38))

In [ ]:
xgb_y_pred = model.predict(xg_xtest)

In [ ]:
xgb_cm = confusion_matrix(y_test, xgb_y_pred)
xgb_acc = accuracy_score(y_test, xgb_y_pred)

In [ ]:
print("confusion matrix=", xgb_cm)
print()
print("accuracy=", xgb_acc*100)

confusion matrix= [[3 3 3 ... 7 2 7]
 [1 0 2 ... 3 6 0]
 [0 4 0 ... 5 3 1]
 ...
 [3 0 3 ... 7 5 0]
 [2 1 4 ... 4 4 1]
 [0 2 4 ... 3 2 0]]

accuracy= 4.416666666666667

In [ ]:
xgb_y_pred[0], y_test.to_numpy()[2][0]

('Network Security Administrator', 'E-Commerce Analyst')

In [ ]:
type(y_test)

pandas.core.frame.DataFrame

In [ ]:
len(xgb_y_pred), len(y_test)

(6000, 6000)

In [ ]:
true_results = []
for i in range(len(y_test)):
  if xgb_y_pred[i] == y_test.values[i][0]:
    true_results.append(y_test.iloc[[i]].index[0])

In [ ]:
len(true_results)

265

# 4. K Nearest Neighbours

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/neighbors/_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [ ]:
knn_y_pred = knn_clf.predict(x_test)

In [ ]:
knn_cm = confusion_matrix(y_test, knn_y_pred)
knn_acc = accuracy_score(y_test, knn_y_pred)

In [ ]:
print("confusion matrix=", knn_cm)
print()
print("accuracy=", knn_acc*100)

confusion matrix= [[25 21  9 ...  1  3  2]
 [16 13 17 ...  0  2  2]
 [19 15 19 ...  3  1  2]
 ...
 [16 15 11 ...  2  1  2]
 [10 21 20 ...  2  0  1]
 [15 26 19 ...  1  1  0]]

accuracy= 3.2333333333333334

#5. Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rfc_classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
rfc_classifier.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(criterion='entropy', n_estimators=10, random_state=0)

In [ ]:
rfc_y_pred = rfc_classifier.predict(x_test)

In [ ]:
rfc_cm = confusion_matrix(y_test, rfc_y_pred)
rfc_acc = accuracy_score(y_test, rfc_y_pred)

In [ ]:
print("confusion matrix=", rfc_cm)
print()
print("accuracy=", rfc_acc*100)

confusion matrix= [[18 10  9 ...  2  2  1]
 [17  9  7 ...  1  1  1]
 [16  5  9 ...  2  3  3]
 ...
 [10 12  8 ...  2  1  5]
 [13 16 12 ...  2  5  3]
 [14  8 20 ...  2  2  6]]

accuracy= 2.966666666666667

# Dump Models

In [ ]:
models = [classifier, entropy_classifier, svm_clf, model, knn_clf, rfc_classifier]
names = ["dtc", "ent_dtc", "svm", "xgboost", "knn", "rfc"]
import pickle
for i in range(len(models)):
  print(f"Dumping {names[i]} model")
  pickle.dump(models[i], open(names[i] + ".pkl", "wb"))

Dumping dtc model
Dumping ent_dtc model
Dumping svm model
Dumping xgboost model
Dumping knn model
Dumping rfc model

In [ ]:
subjects = dataset["Interested subjects"].unique()

In [ ]:
subjects

array(['cloud computing', 'networks', 'hacking', 'Computer Architecture',
       'programming', 'parallel computing', 'IOT', 'data engineering',
       'Software Engineering', 'Management'], dtype=object)